---
layout: default
ref: categories
lang: en
title: Posts by Category!
---

<div class="home">
    {% for category in site.categories%}
      <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
        <p></p>
        <h1 class="category-head">{{ category_name }}</h1>
        <a name="{{ category_name | slugize }}"></a>
        {% assign posts=site.categories[category_name] | where:"lang", page.lang %}
        {% for post in posts %}
    	    <article class="archive-item">
    	      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
    	    </article>
        {% endfor %}
      </div>
    {% endfor %}
</div>